version: '3.8'

services:

  api:
    build: .
    env_file:
      - ${ENV_FILE_PATH:-.env}
    container_name: postech_api
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    networks:
      - postech_network

networks:
  postech_network:
