services:
  api:
    build: .
    container_name: postech_mlengineering_api
    env_file:
      - .env
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    networks:
      - postech_mlengineering_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/api/v1/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

networks:
  postech_mlengineering_network:
    external: true